body {
	padding: 20px;
}

button {
	background-color: gray;
	border: gray;
	color: white;
	cursor: pointer;
	font-weight: bold;
	padding: 4px 8px;
}

button:hover {
	opacity: .8;
}

video, textarea {
	box-sizing: border-box;
	width: 100%;
}

textarea {
	resize: none;
}

input, textarea {
	border: 1px solid gray;
	outline: none;
	padding: 4px 8px;
}

input:focus, textarea:focus {
	border: 1px solid blue;
}

#join {
	margin: 20px;
}

#local-text {
	height: 3em;
}

#remote-text {
	height: 14em;
}

#send {
	float: right;
}

.wrapper {
	width: 45%;
	float: left;
	margin: 20px;
}